<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Dashboard</title>
    {%load static%}
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
  </head>
  <body>
    <div class='wrapper'>
      <h1>Manage Users</h1>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Created At</th>
          <th>Admin</th>
          <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td><a href="{%url 'users:showUserPage' id=user.id %}">{{user.firstname}} {{user.lastname}}</a></td>
          <td>{{user.email}}</td>
          <td>{{user.created_at}}</td>
          {% if user.admin == True %}
            <td>Admin</td>
          {% else %}
            <td>User</td>
          {% endif %}
          {% if user.id == request.session.id %}
          <td><a href="{%url 'users:userEditUserPage' %}">Edit</a></td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <a href='{%url 'login:logout' %}'>Logout</a>
    </div>
  </body>
</html>
