* {
  font-family: 'Crimson Text', serif;
}

.wrapper {
  display: block;
  width: 45%;
  text-align: center;
  background: white;
  box-shadow: 10px 10px 20px grey;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 75px;
  border: 1px solid black;
  padding: 20px 20px 45px 20px;
  opacity: .9;
}

#msgWrapper{
  display: block;
  width: 55%;
  text-align: left;
  background: white;
  box-shadow: 10px 10px 20px grey;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  padding-left: 20px;
  border: 1px solid black;
  opacity: .9;
}

#commentP, #commentForm{
  margin-left: 50px;
}

body {
  height: 600px;
  display: block;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/c3/02/22/c302222bb37c17780f123c943e63b692.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.submit {
  margin-top: 10px;
  font-weight: bold;
}

table, th, td {
  border-bottom: 1px solid gray;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
}

a:link {
  color: #0A0366;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #0A0366;
  font-weight: bold;
  text-decoration: none;
}
